@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    
    <a asp-area="" asp-controller="Game" asp-action="Index">
      <button class="btn-lg btn-primary mt-5" >Jogar</button>
    </a>
    
    <button class="btn-lg btn-primary mt-5 ml-2">Ranking</button>

</div>
